set $bg #F0EDEC
set $fg #2C363C
set $fc #2C363C
set $in #76838A
set $it #2C363C
set $ur #A8334C

# class                 border  backgr. text    indicator child_border
client.focused          $fc     $fc     $bg    $fc       $fc
client.focused_inactive $in     $in     $it    $in       $in
client.unfocused        $in     $bg     $it    $bg       $in
client.urgent           $ur     $ur     $bg    $ur       $ur

bar {
	swaybar_command waybar
}
