[Desktop Entry]
Name=Neovim
GenericName=Text Editor
Comment=Edit text files
Terminal=false
Type=Application
Keywords=Text;editor;
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/*;
Icon=nvim
