[Desktop Entry]
Name=Xoom
Comment=Zoom enforced to run under X11 with screen sharing over v4l2
Exec=env QT_QPA_PLATFORM= XDG_CURRENT_DESKTOP=GNOME /opt/xoom/wrapper.sh %U
Icon=Zoom
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;application/x-zoom
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
Name[en_US]=Xoom
