# following colors are hardcoded; but
# - color definitions live under 0-theme/gruvbox/sway.yml
# - the actual config lives under 0-theme/configs/sway.config
set $bg #1d2021
set $fg #ebdbb2
set $fc #a89984
set $in #504945
set $it #bdae93
set $ur #cc241d
# -- THEME MARKER -- #

# class                 border  backgr. text    indicator child_border
client.focused          $fc     $fc     $bg    $fc       $fc
client.focused_inactive $in     $in     $it    $in       $in
client.unfocused        $in     $bg     $it    $bg       $in
client.urgent           $ur     $ur     $bg    $ur       $ur

# Read `man 5 sway-bar` for more information about this section.
bar 0 {
	id 0
	status_command /opt/synaptiko-desktop-status/bar.sh
	position top
	height 25
	hidden_state show
	mode dock
	modifier Mod1
	workspace_min_width 25 px

	colors {
		statusline         $bg
		separator          $fg
		background         $fc
		focused_workspace  $bg $bg $fg
		inactive_workspace $fc $fc $bg
		active_workspace   $in $in $it
		urgent_workspace   $ur $ur $bg
	}
}
